<nav class="navbar navbar-expand-md" aria-label="navbar">
  <div class="container-fluid border-start">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbar"
      aria-controls="navbar"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbar">
      <ul class="navbar-nav me-auto mb-2 mb-md-0 font-medium">
        <li class="nav-item">
          <a href="{{ site.baseurl }}/" class="active nav-link">Strona główna</a>
        </li>
        <li class="nav-item">
          <a href="{{ site.baseurl }}/oferta" class="nav-link">Oferta</a>
        </li>
        <li class="nav-item">
          <a href="{{ site.baseurl }}/realizacje" class="nav-link"
            >Realizacje</a
          >
        </li>
        <li class="nav-item">
          <a href="{{ site.baseurl }}/kontakt" class="nav-link">Kontakt</a>
        </li>
        <li class=""nav-item">
          <a class="nav-link" href="https://www.google.com" target="_blank">
            <span class="">
              <object
                data="{{ site.baseurl }}/assets/svg/facebook-icon.svg"
                width="28"
                height="28"
              ></object>
            </span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

